<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>b9f7163bb19849c0897ac0edd12503a8</string>
	<key>redirect_uri</key>
	<string>autoplaylistbuilder://callback</string>
	<key>scopes</key>
	<array>
		<string>playlist-modify-private</string>
		<string>playlist-modify-public</string>
		<string>user-read-email</string>
	</array>
</dict>
</plist>
